.DashboardContainer {
  text-align: center;
}

.DashboardContainer-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DashboardContainer-title {
  font-size: 1.5em;
}
.DashboardContainer-intro {
  font-size: large;
}
